:root {
    --lightBackground: grey;
    --darkBackground: black;
    --darkMode: #243447;
    --lightMode: white;
}

html {
    font-size: 32px;
    font-family: 'Roboto', 'Courier New', Courier, monospace;
}

header {
    display: flex;
    justify-content: right;
    margin-bottom: 1px;
    padding: 50px;
    background-color: var(--lightBackground);
    border: 2px outset black;
}

.row {
    margin: 10px;
    display: flex;
}

.col {
    margin: 10px;
}

.col p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
}

.toggle {
    width: fit-content;
    height: fit-content;
    background-color: var(--lightBackground);
    border: 2px outset black;
}

/* Dark Mode */
.dark {
    background-color: var(--darkMode);
    color: whitesmoke;
}

.dark-bg {
    background-color: var(--darkBackground);
}

/* Light Mode */
.light {
    background-color: var(--lightMode);
    color: black;
}

.light-bg {
    background-color: var(--lightBackground);
}

/* Styling the Switch button */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: whitesmoke;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgb(29, 128, 210);
}

input:focus+.slider {
    box-shadow: 0 0 1px rgb(29, 128, 210);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 1;
    text-align: center;
    margin: 1px;
    padding: 20px;
    border: 2px outset black;
    height: auto;
    position: relative;
}

#front-image {
    margin-top: 60px;
    width: 20rem;
    height: 20rem;
}

aside h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}

section {
    flex: auto;
    text-align: center;
    margin: 1px;
    padding: 20px;
    border: 2px outset black;
    height: auto;
}

@media screen and (max-width: 726px) {
    #front-image {
        width: 10rem;
        height: 10rem;
    }

    header {
        justify-content: center;
    }
}