:root {
    --lightBackground: grey;
    --darkBackground: black;
    --darkMode: #243447;
    --lightMode: white;
}

html {
    font-size: 32px;
    font-family: 'Roboto', 'Courier New', Courier, monospace;
}

header {
    display: flex;
    justify-content: right;
    margin-bottom: 1px;
    padding: 50px;
    background-color: var(--lightBackground);
    border: 2px outset black;
}

/* Dark/Light mode stylings are made here for 'index.html', see 'switch.css' for buttons stylings for switch */

/* Dark Mode */
.dark {
    background-color: var(--darkMode);
    color: whitesmoke;
}

.dark-bg {
    background-color: var(--darkBackground);
}

/* Light Mode */
.light {
    background-color: var(--lightMode);
    color: black;
}

.light-bg {
    background-color: var(--lightBackground);
}

main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 1;
    text-align: center;
    margin: 1px;
    padding: 20px;
    border: 2px outset black;
    height: auto;
    position: relative;
}

#front-image {
    margin-top: 60px;
    width: 20rem;
    height: 20rem;
}

aside h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}

section {
    flex: auto;
    text-align: center;
    margin: 1px;
    padding: 20px;
    border: 2px outset black;
    height: auto;
}

@media screen and (max-width: 726px) {
    #front-image {
        width: 10rem;
        height: 10rem;
    }

    header {
        justify-content: center;
    }
}